@import '../../style/variables';
@import '../../style/mixins';

.cart {
  display: block;
  padding-bottom: 40px;

  &__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 20px;
    color: $blackRussian;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include vp-1199 {
      row-gap: 20px;
      flex-wrap: wrap;
    }
  }
}
